.item {
    padding: 15px;
    cursor: pointer;
}

.item:hover {
    background-color: #f0f0f0;
}

.bt {
    margin-top: 15px;
}

.avatars-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.my-avatar {
    padding: 30px;
    margin: 10px;
    background: #f7f7f7cc;
    border: 1px solid #ebebeb;
    border-radius: 5%;
}

.dropdown-toggle::after {
    display: none;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}

.treedots {
    position: absolute;
    color: black;
}